<div class="devise-page">
  <div class="row home-container">
    <div class="devise-page-content col-xs-12 col-sm-4 col-sm-offset-4">
      <h2 class="devise-title">Sign up</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs devise-form-inputs">
          <div class="devise-custom-form-group">
            <%= f.input :email,
                        required: true,
                        autofocus: true ,
                        label_html: { class: "form-label" },
                        input_html: { autocomplete: "email", class: "form-input" }%>
          </div>
          <div class="devise-custom-form-group">
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        label_html: { class: "form-label" },
                        input_html: { autocomplete: "new-password", class: "form-input" } %>
          </div>
          <div class="devise-custom-form-group">
            <%= f.input :password_confirmation,
                        required: true,
                        label_html: { class: "form-label" },
                        input_html: { autocomplete: "new-password", class: "form-input" } %>
          </div>
        </div>

        <div class="form-actions flexbox-column">
          <%= f.button :submit, "Submit", class: "llc-button" %>
        </div>
      <% end %>
      <div class="devise-links">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
