<div id="home-banner">
  <div class="container">
    <div class="row home-banner-content">
      <div class="col-xs-12 col-md-6" id="home-banner-left">
        <span id="typed"></span>
          <div id="banner-sign-up">
            <a  type="button" class="llc-button" data-toggle="modal" data-target="#llcModal">Sign Up</a>
          </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <%= image_tag "coloured-map.png", id: "map-home" %>
      </div>
      <div id="about-us-banner-div">
        <p id="about-us-banner">About us</p>
      </div>
      <div class="arrow-container bounce">
        <%= image_tag "down-arrow.png", id: "arrow" %>
      </div>
    </div>
  </div>
</div>
<div id="taglines-section">
  <div class="container">
    <div class="home-container">
      <div class="tagline-content">
        <h4>Pay what you can afford tuition</h4>
        <div class="row">
          <div class="col-xs-12 col-sm-9">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="col-xs-12 col-sm-3">
            <%= image_tag "money-bag-white.png", class: "tagline-icon", id: "money-icon" %>
          </div>
        </div>
      </div>
      <div class="tagline-content">
        <h4>Learn from a local</h4>
        <div class="row"></div>
          <div class="col-xs-12 col-sm-3">
            <%= image_tag "learn-white.png", class: "tagline-icon", id: "learn-icon" %>
          </div>
          <div class="col-xs-12 col-sm-9">
            <p id="tagline-second-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="middle-content-home">
  <div class="container">
    <div class="home-container">
      <h4 id="our-courses-header">Our courses</h4>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="language-home">
            <h4>Arabic</h4>
            <p class="homepage-description language-home-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officiae deserunt mollit anim id est laborum.</p>
            <p class="find-out-more">Find out more</p>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="language-home">
            <h4>Urdu</h4>
            <p class="homepage-description language-home-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officiae deserunt mollit anim id est laborum.</p>
            <p class="find-out-more">Find out more</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr id="middle-content-home-divider">
  <div class="container">
    <div class="home-container">
      <h4 id="event-home-header">Our next event</h4>
      <div id="event-home">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <p id="event-home-title">Event at London Bridge</p>
          </div>
          <div class="col-xs-12 col-sm-8">
            <p id="event-home-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="anchor" id="about-us-anchor"></div>
<div id="about-us-section">
  <div class="container">
    <div class="home-container">
      <h4>Who are we?</h4>
      <div class="flexbox-column">
        <p class="homepage-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officiae deserunt mollit anim id est laborum.</p>
        <p class="homepage-description">Why not try one of our courses?</p>
        <a href="#" class="llc-button">Sign Up</a>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->

<div class="modal fade" id="llcModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered llc-modal-dialog" role="document">
    <div class="modal-content llc-modal-content">
      <div class="modal-body llc-modal-body">
        <h3 class="modal-title llc-modal-title" id="exampleModalLongTitle">Sign Up</h3>
        <button type="button" class="close cross" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= simple_form_for(User.new, as: :user, url: registration_path(:user)) do |f| %>

          <div class="form-inputs modal-form-inputs">
            <div class="custom-form-group modal-custom-form-group">
              <%= f.input :email,
                        required: true,
                        label: "Email",
                        label_html: { class: "login-form-label" },
                        input_html: { autocomplete: "email", class: "login-form-input" }%>
            </div>
            <div class="custom-form-group modal-custom-form-group">
              <%= f.input :password,
                          required: true,
                          hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                          label: "Password",
                          label_html: { class: "login-form-label" },
                          input_html: { autocomplete: "new-password", class: "login-form-input"  } %>
            </div>
            <div class="custom-form-group modal-custom-form-group">
              <%= f.input :password_confirmation,
                          required: true,
                          label: "Confirm password",
                          label_html: { class: "login-form-label" },
                          input_html: { autocomplete: "new-password", class: "login-form-input"  } %>
            </div>
          <div class="form-actions flexbox-column">
            <%= f.button :submit, "Submit", class: "llc-button modal-button" %>
          </div>
          </div>
          <% end %>

      </div>
    </div>
  </div>
</div>


<%= content_for :after_js do %>
  <script>
    $('#llcModal').on('shown.bs.modal', function () {
      $('#llcInput').trigger('focus')
    })
  </script>
<% end %>
