<div class="languages-page">
  <div class="home-container">
    <div class="container">
      <p>Thank you for expressing your interest in <%= @language.name %>.<br>Before your first lesson please answer a few questions for us.</p>
      <p>What level of <%= @language.name %> are you?</p>
      <%= simple_form_for [@language, @user_language] do |f| %>
        <%= f.select :user_level, ["Beginner", "Intermediate", "Advanced"] %>
        <div class="form-actions flexbox-column">
          <%= f.button :submit, "Submit", class: "llc-button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
